.scroll {
    overflow-y: scroll;
    overflow-x: hidden; /* scroll hidden auto*/
}

.home {
    background: white no-repeat center center fixed;
    background-size: cover;
}

.disease_link {
    color: #6184a8;
    border: none;
    padding: 0;
    background: none;
}

.blue_button {
    width: 100px;
    margin-top: 15px;
    margin-left: 5px;
    border-radius:5px;
    border: 2px solid #336ca9;
    text-align: center;
    color: white;
    background: #336ca9;
    font-size: 12pt;
    padding:10px;
}

.blue_frame_input {
    width: 95%;
    margin: 5px;
    border-radius:5px;
    border: 2px solid #336ca9;
    padding:10px;
    text-align: center;
    font-size: 12pt;
}
